body {
  background-color: #ddd;
  font-family: "DM Sans", sans-serif;
  /* font-family: "DM Serif Display", serif; */
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #222;
}

header {
  background: #fff;
}

header div {
  height: 75px;
  padding: 0 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

header div, nav ul {
  max-width: 1000px;
  margin: 0 auto;
}

header img {
  height: 50px;
}

.btn {
  color: #fff;
  padding: 10px 24px;
  background-color: #d0021b;
  border-radius: 3px;
  font-weight: 700;
  transition: opacity 0.2s;
}

.btn:hover {
  opacity: 0.8;
}

nav {
  background-color: #d0021b;
}

nav ul {
  color: #fff;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav a {
  display: inline-block;
  width: 75px;
  transition: 0.2s;
}

nav a:hover {
  font-weight: 700;
}
