body {
  background-color: #ddd;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #222;
}

header {
  background: #fff;
}

header div {
  height: 75px;
  padding: 0 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

header div,
nav ul {
  max-width: 1000px;
  margin: 0 auto;
}

header img {
  height: 50px;
}

.btn {
  color: #fff;
  padding: 10px 24px;
  background-color: #d0021b;
  border-radius: 3px;
  font-weight: 700;
  transition: opacity 0.2s;
}

.btn:hover,
.info a:hover {
  opacity: 0.7;
}

nav {
  background-color: #d0021b;
}

nav ul {
  color: #fff;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav a {
  display: inline-block;
  width: 75px;
  transition: 0.2s;
}

nav a:hover {
  font-weight: 700;
}

main {
  max-width: 800px;
  margin: 20px auto;
}

h1 {
  font:
    3.5rem "DM Serif Display",
    serif;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin: 20px 40px;
}

.info p {
  margin-right: auto;
}

.info a {
  transition: opacity 0.2s;
}

ion-icon {
  font-size: 24px;
}

.info a:first-of-type {
  color: #3b5998;
}

.info a:nth-of-type(2) {
  color: #26a7de;
}

.info a:last-of-type {
  color: #fff;
  padding: 5px 15px;
  background-color: #d0021b;
  border-radius: 3px;
  font-weight: 700;
}

h2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 15px 0 10px;
}

p {
  line-height: 1.4;
  margin-left: 20px;
}

aside {
  max-width: 800px;
  background-color: #d9d2d4;
  padding: 10px 40px;
  margin: 20px auto;
}

aside div {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

h3 {
  color: #d0021b;
  font-weight: 700;
}

aside ul {
  list-style: square;
  color: #d0021b;
}

aside li {
  line-height: 2;
}

aside a {
  color: #222;
  text-decoration: underline;
  transition: color 0.2s;
}

aside a:hover {
  text-decoration: none;
  color: #d0021b;
}

footer {
  height: 50px;
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer img {
  height: 40px;
}
footer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

footer a {
  transition: color 0.2s;
}

footer a:hover {
  color: #d0021b;
}
