body {
  background-color: #f8f8f8;
  font-family: "DM Sans", sans-serif;
  /* font-family: "DM Serif Display", serif; */
  font-optical-sizing: auto;
}

header {
  height: 75px;
  background: #fff;
  padding: 0 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  height: 50px;
}

header a {
  color: #fff;
  padding: 10px 24px;
  background-color: #d0021b;
  border-radius: 3px;
  font-weight: 700;
  transition: opacity 0.2s;
}

header a:hover {
  opacity: 0.8;
}
